/***cursive font***/
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
/**main font***/
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

@media(max-width:892px){
    .navbar .mylinks, .right-nav-wrapper{
        display: none;
    }
}

/***dropdown menu***/

.dropdown{
    width: 100%;
    height: 0;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items:  center;
    transition: all .50s;
}

.changeHeight{
    height: 250px;
}

.dropdown .drop-list{
    text-align: center;
    display: none;
}

.show-list{
    display: inline-block !important;
}

.dropdown ul li{
    list-style: none;
    margin: 20px;
}

.dropdown ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all .50s;
}

.dropdown ul li a:hover{
    color: orange;
    text-decoration: underline;
}

.dropdown-wrapper>div{
    margin: 10px;
}

.dropdown .shopping-cart{
    display: flex;
    justify-content: center;
    color: white;
}

.dropdown button{
    height: 30px;
    background-color: orange;
    width: 150px;
    border: solid white 1px;
    border-radius: 30px;
    transition: all .50s;
}

.dropdown button:hover{
    background-color: orangered;
}

.logo-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    margin: 15px;
    color: white;
    cursor: pointer;
    transition: all .50s;
}

.navbar ul li a:hover, .navbar .fa:hover{
    color: orange;
}

.right-nav-wrapper{
    margin-top: 25px;
}

.right-nav-wrapper>div{
    display: inline-block;
    margin: 15px;
}

.order-btn{
    cursor: pointer;
    width: 170px;
    height: 45px;
    background-color: orange;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all .50s;
}

.order-btn:hover{
    background-color: orangered;
}

.navbar .fa{
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: all .50s;
}

.menubar{
    cursor: pointer;
}

.bar{
    width: 30px;
    height: 5px;
    background-color: wheat;
    margin: 4px;
    transition: all .50s;
}

.change .bar1{
    transform: translate(0, 9px)rotate(45deg);
}

.change .bar2{
    animation: fadeout 1s;
    transition: all .50s;
    animation-fill-mode: forwards;
}

@keyframes fadeout{
    0%{transform: translateX(-10px);}
    100%{opacity: 0;
        transform: translateX(10px);
    }
}

.change .bar3{
    transform: translate(0, -9px)rotate(-45deg);
}




/***home section***/
#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    
}

.home-pg-bg{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/home-bg.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    color: white;
}

.home-wrapper>div{
    margin: 20px;
    text-align: center;
}

.home-pg-title h1{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    text-shadow: 
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    4px 4px 4px orangered;
    transition: all .50s;
    animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

/***fadeIn animation***/

@keyframes fadeIn{
   0%{transform: translateX(-100px);
    opacity: 0;}
}


@-webkit-keyframes fadeIn{
    0%{transform: translateX(-100px);
        opacity: 0;}
}

@-o-keyframes fadeIn{
    0%{transform: translateX(-100px);
        opacity: 0;}
}

@-moz-keyframes fadeIn{
    0%{transform: translateX(-100px);
        opacity: 0;}
}


.home-pg-content p{
    font-size: 20px;
    opacity: 0;
    animation: appearIn 1s;
    -moz-animation: appearIn 2s;
    -o-animation: appearIn 2s;
    -webkit-animation: appearIn 2s;
    animation-fill-mode: forwards;
    animation-delay: .50s;
}

/***appearIn animation***/
@keyframes appearIn {
    0%{transform: translateX(-100px);
        opacity: 0;}
    100%{opacity: 1;}
}

@-webkit-keyframes appearIn{
    0%{transform: translateX(-100px);
        opacity: 0;}
    100%{opacity: 1;}

}

@-moz-keyframes appearIn{
    0%{transform: translateX(-100px);
        opacity: 0;}
    100%{opacity: 1;}

}

@-o-keyframes appearIn{
    0%{transform: translateX(-100px);
        opacity: 0;}
    100%{opacity: 1;}

}


.order-now-btn button{
    animation: appearIn 2s forwards;
    -moz-animation: forwards 2s;
    -o-animation: appearIn 2s;
    -webkit-animation: appearIn 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}


/***menu-section***/

#menu{
    width: 100%;
    height: 100vh;
    color: black;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.menu-title{
    display: flex;
    justify-content: center;
}


.menu-title h1{
    font-family: "Cedarville Cursive", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.menu-wrapper li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.clicked .menu-wrapper{
    background-color: black;
    border-radius: 50px;
    color: white;
    width: 75px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.menu-options{
    display: flex;
    justify-content: center;
}

.menu-items-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

@media(max-width:764px){
    .menu-items-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
}

@media(max-width:502px){
    .menu-items-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
    }
}



.item{
    width: 240px;
    border: solid black;
}

.item-description{
    text-align: left;
    padding: 10px 10px 0 10px;
}

.item-img{
    width: 100%;
    height: 200px;
    background-color: white !important;
    border-bottom-left-radius: 40px;
}

.item-img img{
    width: 100%;
    height: 100%;
}

.prize-cart{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    margin-top: 50px;
}


.item-wrapper{
    color: white;
    background-color: black;
}

.cart-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}